<!doctype html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<title>Upload new File</title>

	<h1>Upload cell data and convert to Map</h1>
	<h3 id = "onlyh3">Attach your data as a .txt file and type in the dimensions of the slide in XY order, separated by a comma</h3>
	<div id = "inputfields">
	<form class="form-inline" method=post enctype=multipart/form-data>
	  Data: <input type=file name=file required>
	  Dimensions (X,Y): <input name=text required>
	  <input type=submit value=Submit onclick="toggleVarVal()">
	</form>
	</div>

	<div id="backbutton">
		<button onclick="submitNewFile()" class="learn-more" id="back">
				<span>Submit New File</span>
		</button>
	</div>

	<div id = "vardropdown">
		<form class="form-inline" method=get>

		  <select name="map_vars">
			{% for map_var in map_vars %}
				<option value = "{{map_var}}">{{map_var}}</option>
			{% endfor %}
		  </select>
		  <input type=submit value=Submit>
		</form>
		<span id = "current_var">Currently mapping: {{selected_var}}</span>
	</div>

	<div class="dropdown-map-types" id = "maptypedropdown">
		<select name="map_types" id="map_dropdown">
			<option value="nothing">Select Map Type</option>
			<option value="circ_mean">Mean</option>
			<option value="circ_cov">Coefficient of Variation</option>
		</select>
	</div>

	<div id="container">
		<button onclick="something" class="learn-more" id="mati">
				<span class="circle">
				  <span class="icon arrow"></span>
				</span>
				<span class="button-text">Download Map</span>
		</button>
		<button onclick="something" class="learn-more" id="csv">
			<span class="circle">
			  <span class="icon arrow"></span>
			</span>
			<span class="button-text">Download CSV</span>
	</button>
	</div>

	<script>
			var sel = document.getElementById("map_dropdown");
			sel.onchange = function(){
				selected_val = this.value;

				document.getElementById('mati').onclick = function(){
					if('{{selected_var}}' != null){
						if (selected_val == "circ_mean")
						{
							location.href =  '{{ url_for('uploaded_file', filename=mean_filename) }}';
						}
						if(selected_val == "circ_cov"){
							location.href = '{{ url_for('uploaded_file', filename=cov_filename) }}';
						}
					}
				}

				document.getElementById('csv').onclick = function(){
					if('{{selected_var}}' != null){
						if (selected_val == "circ_mean")
						{
							location.href =  '{{ url_for('uploaded_file', filename=mean_csv_filename) }}';
						}
						if(selected_val == "circ_cov"){
							location.href = '{{ url_for('uploaded_file', filename=cov_csv_filename) }}';
						}
					}
				}
			}
	</script>

	<script type="text/javascript">
		var toggleVarVal = function(){
			sessionStorage.setItem("refreshState", "selectingvar");
		}
	</script>

	<script type="text/javascript">
		if (sessionStorage.getItem("refreshState") == "selectingvar"){
			document.getElementById('onlyh3').style.display = 'none';
			document.getElementById('vardropdown').style.display = 'block'
			document.getElementById('inputfields').style.display = 'none';
			document.getElementById('vardropdown').style.display = 'block';
			document.getElementById('maptypedropdown').style.display = 'block';
			document.getElementById('container').style.display = 'block';
			document.getElementById('backbutton').style.display = 'block';
		}
	</script>

	<script>
		document.getElementById('back').onclick = function(){
			document.getElementById('onlyh3').style.display = 'block';
			document.getElementById('vardropdown').style.display = 'none'
			document.getElementById('inputfields').style.display = 'block';
			document.getElementById('vardropdown').style.display = 'none';
			document.getElementById('maptypedropdown').style.display = 'none';
			document.getElementById('container').style.display = 'none';
			document.getElementById('backbutton').style.display = 'none';
		}
	</script>

	<script>
		console.log(sessionStorage.getItem("refreshState"))
	</script>

	<script>
		localStorage.setItem("refreshState", "inputtingdata");
		console.log(sessionStorage.getItem("refreshState"))
	</script>